<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>



<body>


  <span class="saludo" id="saludoinicial">
    <img src="img/pikachu" alt="">
  </span>
  <a href="../index.html"></a>


  <ul>
    <li>A</li>
    <li>B</li>
    <li>C</li>
    <li>D</li>
  </ul>


  <ol>
    <li>SSS</li>
    <li>DDD</li>
    <li>FF</li>
    <li>GG</li>
    <li>HH</li>
  </ol>

  <!--Contenedores son elementos en bloque-->
  <div>


  </div>
  <!--CSS en el documento-->
  <style>
    body {
      background-color: aquamarine;
    }
  </style>
  <!--Javasciscript en el documento-->
  <script>
    alert("Hola mundo")
  </script>


</body>

</html>