.container {
  margin: 0 auto;
  border: 5px solid blue;
  background-color: green;
  padding: 50px;
}

.border-red {
  border: 2px solid red;
}

p {
  color: white;
}
label {
  color: white;
  display: inline-block;
  width: 120px;
  margin-left: 25px;
}

.btn {
  margin-left: auto;
  border-top: 1px dashed white;
  display: inline;
  padding: 5px;
}
