/* Navbar */

html {
  scroll-behavior: smooth;
}

.img-logo {
  width: 200px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}

.navbar-collapse {
  margin-right: auto;
}

.img-carrusel {
  height: calc(100vh -76px);
  object-fit: cover;
  object-position: center;
}

.pantalla {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: calc(100vh - 76px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuadro {
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  width: 50vw;
  text-align: center;
}

.img-card {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}
